#results {
	display: grid;
	grid-template-columns: repeat(4, 182px);
	grid-template-rows: 182px;
	gap: 24px;
}

.request-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.request-item:hover {
	box-sizing: border-box;
	outline: 2px solid #adff00;
}

.request-item:hover > .request-item-share {
	opacity: 1 !important;
}

.request-item > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.request-item-share {
	position: absolute;
	bottom: 2px;
	left: 2px;
	color: white;
	font-family: 'Space Grotesk';
	text-align: right;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 160%;
	padding: 2px 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: #18181b;
	cursor: pointer;
}

.request-item-verdict {
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #10151d;
	text-align: right;
	font-family: 'Space Grotesk';
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 160%;
	background: #adff00;
	padding: 2px 8px;
}

#refresh-api-key {
	border: 1px solid #adff00 !important;
}
