@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* остальной CSS код */

.aiornot-player {
    position: relative;
    width: 100%;
    height: 3.5rem;
    gap: 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
}

.aiornot-player-is-selectable:hover {
    cursor: pointer;
}
.aiornot-player-is-selectable:hover .aiornot-player-progress {
    background: rgba(16, 21, 29, 0.1);
    transition: all 0.2s ease-in-out;
}

.aiornot-player-is-selectable:hover .aiornot-player-slider {
    background: #adff00;
    transition: all 0.2s ease-in-out;
}

.aiornot-player:hover .aiornot-player-button {
    background: rgba(16, 21, 29, 0.1);
    transition: all 0.2s ease-in-out;
}

.aiornot-player-square {
    position: relative;
    width: 30rem;
    height: 30rem;
    gap: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
}

.aiornot-player-controls-square {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    z-index: 2;
}

.aiornot-player-button {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.03);
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.aiornot-player-button:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
}

.aiornot-player-button:hover > svg {
    fill: white;
}

.aiornot-player-button-sqaure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.03);
    transition: all 0.2s ease-in-out;
    z-index: 2;
}
.aiornot-player-button-sqaure:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
}
.aiornot-player-button-sqaure:hover > svg {
    fill: white;
}

.aiornot-player-title {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    font-family: 'Inter';
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
    z-index: 2;
    user-select: none;
    white-space: nowrap;
}

.aiornot-player-title-sqaure {
    text-align: right;
    font-family: 'Inter';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
    z-index: 2;
    user-select: none;
}

.aiornot-player-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    background: #10151d;
}

.aiornot-player-progress {
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    width: 0;
    z-index: 2;
}

.aiornot-youtube-player {
    width: 30rem;
    height: 30rem;
}
